

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>EnrolledCourseDetails</title>
    <!-- Custom CSS -->

    <!-- Google Font -->
    <link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery Library -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <!----Head Bar-->
    <!--Navigation CSS-->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <!--Navigation CSS-->
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="index.js"></script>

    <!--sending data to pop up-->
    <script language="javascript" type="text/javascript" src="enrolleddata.js"></script>

</head>
<style >
    body{
        background-color: #18bc9c;
    }
    .login-form {
        margin: 100px auto;
        max-width: 900px;
        alignment: center;
    }

    form[role=login] {

        background: #fff;

    }

    .btn{

        background-color: #de615e;

    }
    .dropdown-content {
        background-color: black;
        min-width: 160px;
        padding: 12px 16px;
        color: white;
    }

</style>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">UMKC Attendance & Feedback Portal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item" style="float:right">
                    <a class="nav-link js-scroll-trigger" href="index.html">HOME</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-link js-scroll-trigger" href="index.html#about">About</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-link js-scroll-trigger" href="index.html#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="login-form">
    <div ng-app="demoMongo" ng-controller="EnrolledCoursesController">
        <form action="popup.html" role="login" method="get">
            <div>
                <h2>Enrolled Course Details</h2>
            </div>
            <div>
                <label>Please choose the term of study</label><br>
                <select  ng-model="term" name="term" id="term" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="Fall 2017">Fall 2017 </option>
                    <option value="Spring 2018">Spring 2018</option>
                    <option value="Summer 2018">Summer 2018</option>
                    <option value="Fall 2018">Fall 2018</option>
                </select>
            </div>
            <div>
                <label>Please select the courses and the timings you have enrolled in   </label>
                <br>
            </div>
            <div style="display:block;">
                <label>Course 1</label><br>
                <select ng-model="course1" name="course1" id="course1" class="dropdown-content" required>
                    <option value="">Select</option>

                    <option value="ISA">Information Security and Assurance</option>
                    <option value="ASE">Advanced Software Engineering</option>
                    <option value="FSS">Formal Software Specification</option>
                    <option value="NA1">Network Architecture 1</option>
                </select>
                <label>Start Time</label>
                <select ng-model="s1" name="course1StartTime" id="course1StartTime" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:30PM">5:30PM</option>
                    <option value="7:00PM">7:00PM</option>
                </select>
                <label>End Time</label>
                <select ng-model="e1" name="course1StartTime" id="course1EndTime" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="5:15PM">5:15PM</option>
                    <option value="6:45PM">6:45PM</option>
                    <option value="8:15PM">8:15PM</option>
                </select>
            </div>
            <br>

            <div style="display:block;">
                <label>Course 2</label><br>
                <select ng-model="course2" name="course2" id="course2" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="PBD">Principals of Big Data Management</option>
                    <option value="BAA">Big Data Analytics and Applications</option>
                    <option value="SMT">Software Methods and Tools</option>
                    <option value="DAA">Design and Analysis of Algorithms</option>
                </select>
                <label>Start Time</label>
                <select ng-model="s2" name="course2StartTime" id="course2StartTime" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:30PM">5:30PM</option>
                    <option value="7:00PM">7:00PM</option>
                </select>
                <label>End Time</label>
                <select ng-model="e2" name="course2StartTime" id="course2EndTime" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="5:15PM">5:15PM</option>
                    <option value="6:45PM">6:45PM</option>
                    <option value="8:15PM">8:15PM</option>
                </select>
            </div>
            <br>

            <div style="display:block;">
                <label>Course 3</label><br>
                <select ng-model="course3" name="course3" id="course3" class="dropdown-content" required>
                    <option value="">Select</option>

                    <option value="ISL">Introduction to Statistical Learning</option>
                    <option value="AOS">Advanced Operating Systems</option>
                    <option value="KDM">Knowledge Discovery </option>
                    <option value="PPS">Python Programming</option>
                </select>
                <label>Start Time</label>
                <select ng-model="s3" name="course3StartTime" id="course3StartTime" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:30PM">5:30PM</option>
                    <option value="7:00PM">7:00PM</option>
                </select>
                <label>End Time</label>
                <select ng-model="e3" name="course3EndTime" id="course3EndTime" class="dropdown-content" required>
                    <option value="">Select</option>
                    <option value="5:15PM">5:15PM</option>
                    <option value="6:45PM">6:45PM</option>
                    <option value="8:15PM">8:15PM</option>
                </select>
            </div>
            <br>
            <br>
            <br>

            <!--- Submit button -->
            <br>
            <div>

                <button type="submit" name="go" class="btn" ng-click="saveData(); showpopup()">Submit the Details</button>
            </div>
        </form>
    </div>
</section>



</body>
</html>
